.item-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 30%;
    margin-bottom: 20%;
  }
  .card{
    text-align: center;
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
  }
  img {
    width: 150px;
    margin: 10% auto;
  }
